.slider {
    background: #d3d3d3;
    border-radius: 5px;  
    height: 7px;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    width: 50%;
    -webkit-appearance: none;
    -webkit-transition: .2s;
  }
  
  .slider::-webkit-slider-thumb {
      appearance: none;
      background: #4CAF50;
      border-radius: 50%; 
      cursor: pointer;
      height: 20px;
      width: 20px;
      -webkit-appearance: none;
  }
  
  .slider::-moz-range-thumb {
      background: #4CAF50;
      border-radius: 50%;
      cursor: pointer;
      height: 20px;
      width: 20px;
  }
  #mainbar{
      font-size: 1.6rem;
      text-align: center;
      width: 100%;
  }

  #mainbar input{
        background: rgb(224, 221, 224);
        border: none;
        border-radius: 2em;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        margin:5px;
        padding:5px;
        width: 100px;
        z-index: 999 !important;
  }

  #mainbar button{
    background: linear-gradient(60deg, #26c6da, #00acc1);
    border: none;    
    border-radius: 2em;
    color:#fff;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin:5px;
    padding:5px;
  }
 
  #mainImage{
      align-items: center;
      background: rgb(104, 98, 98) !important;
      border-radius: 50%;    
      color: rgb(235, 228, 228);  
      display: block;
      flex-direction: column;
      height: 200px;
      line-height: 1.8rem;
      margin: 0 auto 0;
      margin-bottom: 20px;;
      padding: 10px;
      position: relative;
      width: 200px;
  }